<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>User Profile</title>
		<link rel="stylesheet" type="text/css" href="user-profile.component.css">
	</head>
    <body>
      <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page"
                style="padding-right: 140px; padding-left: 125px;"><img src="/assets/images/logo.png" height="50px"
                    width="100px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" routerLink="/home" routerLinkActive="active"
                            ariaCurrentWhenActive="page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/shop" routerLinkActive="active"
                            ariaCurrentWhenActive="page">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/login" routerLinkActive="active"
                            ariaCurrentWhenActive="page" *ngIf="!currentUser; else loggedUser">Login</a>
                        <!--Logged in users see the logout button instead-->
                        <ng-template #loggedUser>
                            <a class="nav-link" href="#" routerLink="/login" routerLinkActive="active"
                                ariaCurrentWhenActive="page" (click)="logout()"> Logout</a>
                        </ng-template>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" style="padding-right: 100px;">Cart</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
        <div class="card mb-4">
            <div class="card-header">Account Details</div>
            <div class="card-body">
                <form>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputFirstName">First name: Bob</label>
                            <input class="form-control" id="inputFirstName" type="text" placeholder="Change your first name">
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputLastName">Last name: Bob</label>
                            <input class="form-control" id="inputLastName" type="text" placeholder="Change your last name" >
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputLocation">Location: Bobland</label>
                            <input class="form-control" id="inputLocation" type="text" placeholder="Change your location">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="small mb-1" for="inputEmailAddress">Email address: Bob@gmail.com</label>
                        <input class="form-control" id="inputEmailAddress" type="email" placeholder="Change your email address">
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputPhone">Phone number: 111-111-1111</label>
                            <input class="form-control" id="inputPhone" type="tel" placeholder="Change your phone number">
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputBirthday">Birthday: 1/11/1111   </label>
                            <input class="form-control" id="inputBirthday" type="text" name="birthday" placeholder="Change your birthday">
                        </div>
                    </div>
                    <h4 class="mb-3">Payment</h4>
      
                   
          
                    <div class="row gy-3">
                      <div class="col-md-6">
                        <label for="cc-name" class="form-label">Name on card</label>
                        <input type="text" class="form-control" id="cc-name" placeholder="Change your name on card" required>
                        <small class="text-muted">Full name as displayed on card</small>
                        <div class="invalid-feedback">
                          Name on card is required
                        </div>
                      </div>
          
                      <div class="col-md-6">
                        <label for="cc-number" class="form-label">Card number</label>
                        <input type="text" class="form-control" id="cc-number" placeholder="Change your card number" required>
                        <div class="invalid-feedback">
                          Credit card number is required
                        </div>
                      </div>
          
                      <div class="col-md-3">
                        <label for="cc-expiration" class="form-label">Expiration</label>
                        <input type="text" class="form-control" id="cc-expiration" placeholder="Change your expiration" required>
                        <div class="invalid-feedback">
                          Expiration date required
                        </div>
                      </div>
          
                      <div class="col-md-3">
                        <label for="cc-cvv" class="form-label">CVV</label>
                        <input type="text" class="form-control" id="cc-cvv" placeholder="Change your ccv" required>
                        <div class="invalid-feedback">
                          Security code required
                        </div>
                      </div>
                    </div>
                    <h4 class="mb-3">Billing and Shipping Address</h4>
                    <form class="needs-validation" novalidate>
                      <div class="row g-3">                                                                          
                        <div class="col-12">
                          <label for="address" class="form-label">Address</label>
                          <input type="text" class="form-control" id="address" placeholder="Change your address" required>
                          <div class="invalid-feedback">
                            Please enter your shipping address.
                          </div>
                        </div>                       
                        <div class="col-md-5">
                          <label for="country" class="form-label">Country</label>
                          <select class="form-select" id="country" required>
                            <option value="">Choose to change country...</option>
                            <option>United States</option>
                          </select>
                          <div class="invalid-feedback">
                            Please select a valid country.
                          </div>
                        </div>
            
                        <div class="col-md-4">
                          <label for="state" class="form-label">State</label>
                          <select class="form-select" id="state" required>
                            <option value="">Choose to change state...</option>
                            <option>Alabama</option>
                            <option>Alaska</option>
                            <option>Arizona</option>
                            <option>Arkansas</option>
                            <option>California</option>
                            <option>Colorado</option>
                            <option>Connecticut</option>
                            <option>Delaware</option>
                            <option>Florida</option>
                            <option>Georgia</option>
                            <option>Hawaii</option>
                            <option>Idaho</option>
                            <option>Illinois</option>
                            <option>Indiana</option>
                            <option>Iowa</option>
                            <option>Kansas</option>
                            <option>Kentucky</option>
                            <option>Louisiana</option>
                            <option>Maine</option>
                            <option>Maryland</option>
                            <option>Massachusetts</option>
                            <option>Michigan</option>
                            <option>Minnesota</option>
                            <option>Mississippi</option>
                            <option>Missouri</option>
                            <option>Montana</option>
                            <option>Nebraska</option>
                            <option>Nevada</option>
                            <option>New Hampshire</option>
                            <option>New Jersey</option>
                            <option>New Mexico</option>
                            <option>New York</option>
                            <option>North Carolina</option>
                            <option>North Dakota</option>
                            <option>Ohio</option>
                            <option>Oklahoma</option>
                            <option>Oregon</option>
                            <option>Pennsylvania</option>
                            <option>Rhode Island</option>
                            <option>South Carolina</option>
                            <option>South Dakota</option>
                            <option>Tennessee</option>
                            <option>Texas</option>
                            <option>Utah</option>
                            <option>Vermont</option>
                            <option>Virginia</option>
                            <option>Washington</option>
                            <option>West Virginia</option>
                            <option>Wisconsin</option>
                            <option>Wyoming</option>
                            
                          </select>
                          <div class="invalid-feedback">
                            Please provide a valid state.
                          </div>
                        </div>
            
                        <div class="col-md-3">
                          <label for="zip" class="form-label">Zip</label>
                          <input type="text" class="form-control" id="zip" placeholder="Change zip" required>
                          <div class="invalid-feedback">
                            Zip code required.
                          </div>
                        </div>
                      </div>
            
                      <hr class="my-4">
                  </form>
                    <button class="btn btn-primary" type="button">Save changes</button>
                </form>
            </div>
        </div>
        <!-- Footer -->
        <footer class="text-center text-lg-start bg-light text-muted">
        <!-- Copyright -->
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
                © 2022 Copyright:
                <a class="text-reset fw-bold" style="text-decoration:none;">Vinyl Store</a>
            </div>
        <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </body>
</html>
<router-outlet></router-outlet>