<!DOCTYPE html>
<html lang="EN" xml:lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Vinyl Store</title>
		<link rel="stylesheet" type="text/css" href="home.component.css">
	</head>
    <body>
        <header>
            <div class="logo-wrapper">
                <a href="#"><img class="logo" src="/assets/images/logo.png" height="128px" width="242px" alt="Vinyl Store Logo"></a>
            </div>
            <div class="top-left-nav">
                <a href="#" class="no-dec">Categories</a>
                <a href="#" class="no-dec">Genres</a>
            </div>
            <div class="search">
                <form id="search-bar">
                    <input type="text">
                    <button type="submit">Search</button>
                </form>
            </div>
            <div class="top-right-nav">
                <a href="#" class="no-dec">Login</a>
                <a href="#" class="no-dec">Cart</a>
            </div>
        </header>
        <div id="best-sellers">
            <h1>Best Selling Vinyl</h1>
            <div class="dividing-line"></div>
            <div class="category-display">
                <div class="display-scroll-btn disabled"><p>◀</p></div>
                <a href="#">
                    <div class="album-highlight">
                        <img src="/assets/images/album_art/queen_sheer_heart_attack.webp">
                        <div class="album-text">
                            <h3>Sheer Heart Attack</h3>
                            <h5>Queen</h5>
                            <h5>$29.99</h5>
                        </div>
                        <div class="explicit hidden"><p>E</p></div>
                    </div>
                </a>
                <a href="#">
                    <div class="album-highlight">
                        <img src="/assets/images/album_art/brockhampton_ginger.png">
                        <div class="album-text">
                            <h3>Ginger</h3>
                            <h5>Brockhampton</h5>
                            <h5>$29.99</h5>
                        </div>
                        <div class="explicit hidden"><p>E</p></div>
                    </div>
                </a>
                <a href="#">
                    <div class="album-highlight">
                        <img src="/assets/images/album_art/la_fouine_xxi.jpg">
                        <div class="album-text">
                            <h3>XXI</h3>
                            <h5>La Fouine</h5>
                            <h5>$29.99</h5>
                        </div> 
                        <div class="explicit"><p>E</p></div>
                    </div>
                </a>
                <a href="#">
                    <div class="album-highlight">
                        <img src="/assets/images/album_art/rico_nasty_nightmare_vacation.webp">
                        <div class="album-text">
                            <h3>Nightmare Vacation</h3>
                            <h5>Rico Nasty</h5>
                            <h5>$29.99</h5>
                        </div>
                        <div class="explicit hidden"><p>E</p></div>
                    </div>
                </a>
                <div class="display-scroll-btn"><p>▶</p></div>
            </div>
        </div> <!-- best-sellers -->
        <div id="genre-display">
            <h1>Genres</h1>
            <div class="dividing-line"></div>
            <div id="genre-columns">
                <div class="col-3">
                    <a href="#" class="no-dec"><h2 class="genre-link">Pop</h2></a>
                    <a href="#" class="no-dec"><h2 class="genre-link">Jazz</h2></a>
                    <a href="#" class="no-dec"><h2 class="genre-link">Heavy Metal</h2></a>
                    <a href="#" class="no-dec"><h2 class="genre-link">Blues</h2></a>
                </div>
                <div class="col-3">
                    <a href="#" class="no-dec"><h2 class="genre-link">Rock</h2></a>
                    <a href="#" class="no-dec"><h2 class="genre-link">Classic Rock</h2></a>
                    <a href="#" class="no-dec"><h2 class="genre-link">Rap</h2></a>
                    <a href="#" class="no-dec"><h2 class="genre-link">Musicals</h2></a>
                </div>
                <div class="col-3">
                    <a href="#" class="no-dec"><h2 class="genre-link">Hip-Hop</h2></a>
                    <a href="#" class="no-dec"><h2 class="genre-link">Classical</h2></a>
                    <a href="#" class="no-dec"><h2 class="genre-link">Country</h2></a>
                    <a href="#" class="no-dec"><h2 class="genre-link">Browse All...</h2></a>
                </div>
            </div>
        </div> <!-- genre-display -->
    </body>
</html>