<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Order Confirmation!</title>
		<link rel="stylesheet" type="text/css" href="order-confirmation.component.css">
	</head>
    <body>
      <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page"
            style="padding-right: 240px; padding-left: 120px;"><img src="/assets/images/logo.png" height="50px"
                    width="100px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" routerLink="/home" routerLinkActive="active"
                            ariaCurrentWhenActive="page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/shop" routerLinkActive="active"
                            ariaCurrentWhenActive="page">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/login" routerLinkActive="active"
                            ariaCurrentWhenActive="page" *ngIf="!currentUser; else loggedUser">Login</a>
                        <!--Logged in users see the logout button instead-->
                        <ng-template #loggedUser>
                            <a class="nav-link" href="#" routerLink="/login" routerLinkActive="active"
                                ariaCurrentWhenActive="page" (click)="logout()"> Logout</a>
                        </ng-template>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" style="padding-right: 100px;"
                        *ngIf="!currentUser; else visibleCart">Cart</a>
                        <ng-template #visibleCart>
                          <a class="nav-link" href="#" routerLink="/checkout" routerLinkActive="active" style="padding-right: 100px;">Cart</a>
                        </ng-template>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
        <div id="genre-display">
            <img class="orderconf_pic" src="/assets/images/partypopper.png">
            <h1> Thank You For Your Order!
            </h1>
            <div class="dividing-line"></div>
            <b>Your order number is #{{orderId}}</b>
            <p>Thank you for shopping with the Vinyl Store!</p>
        </div>
        <!-- Footer -->
        <footer class="text-center text-lg-start bg-light text-muted">
            <!-- Copyright -->
                <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
                    © 2022 Copyright:
                    <a class="text-reset fw-bold" style="text-decoration:none;">Vinyl Store</a>
                </div>
            <!-- Copyright -->
            </footer>
            <!-- Footer -->
</body>

</html>
<router-outlet></router-outlet>