.filter-bar {
    background-color: purple;
    width: 100%;
    height: 65px;
    margin: auto;
    text-align: center;
    padding-top: 7px;
}

.filter-boxes {
    padding-left: 50px;
    padding-right: 50px;
    height: 50px;
    text-align: center;
}
.navbar-nav.mr-auto > .nav-item > .nav-link {
    font-size: 20px;
    padding-right: 16px;
}

#shop-header {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    text-align: center;
}
.shop-table img {
    width: 256px;
    height: 256px;
    box-shadow: 10px -3px 20px #5e7e8b;
}

.shop-table{
    margin: auto;
    margin-top: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
